<ion-header [translucent]="true" mode="ios" class="header-style">
  <ion-toolbar color="light">
    <!--busqueda-->
    <ion-searchbar color="light" class="ion-margin-top" placeholder="Buscar"></ion-searchbar>
    <!--filtro-->
    <ion-button expand="block" mode="ios" slot="end" color="light" size="large" class="ion-margin-horizontal">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-button>
    <!--avatar-->
    <ion-avatar slot="end" class="style-avatar">
      <img src="./assets/avatar.svg">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<!-- <app-header></app-header> -->

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p>
  </div>
</ion-content>
