<ion-list class="list-syle">
  <ion-item lines="full">
    <ion-avatar slot="start">
      <img src="./assets/avatar.svg">
    </ion-avatar>
    <ion-label>
      <h2>Nombre del comercio</h2>
    </ion-label>
    <ion-label>
      <h2>Vendedor</h2>
    </ion-label>
    <ion-label>
      <img src="./assets/country/colombia.png" alt="PlaceToPay" class="imgCountry">
    </ion-label>
    <ion-label>
      <h2>status</h2>
    </ion-label>
    <ion-label>
      <h2>Detalle</h2>
    </ion-label>
  </ion-item>
</ion-list>
