<div class="contain-new-merchant">
  <ion-list mode="ios" class="ion-padding-vertical">
    <ion-item lines="none" mode="ios" class="style-input ion-margin-bottom">
      <ion-label position="floating">Document <span>(optional)</span></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none" mode="ios" class="style-input ion-margin-bottom">
      <ion-label position="floating">Size <span>(optional)</span></ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Cancel">
        <ion-select-option value="small">Small</ion-select-option>
        <ion-select-option value="medium">Medium</ion-select-option>
        <ion-select-option value="large">Large</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none" mode="ios" class="style-input ion-margin-bottom">
      <ion-label position="floating">Corporate group <span>(optional)</span></ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Cancel">
        <ion-select-option value="one">Option 1</ion-select-option>
        <ion-select-option value="two">Option 2</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item lines="none" mode="ios" class="style-input ion-margin-bottom">
      <ion-label position="floating">Incremet type</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Cancel">
        <ion-select-option value="one">Option 1</ion-select-option>
        <ion-select-option value="two">Option 2</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item lines="none" mode="ios" class="ion-margin-bottom">
      <ion-label>Enabled</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>

    <ion-item lines="none" mode="ios">
      <ion-fab-button slot="start" class="ion-margin-vertical" color="white" (click)="onClickBtnPrev()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-fab-button>
      
      <ion-fab-button slot="end" class="ion-margin-vertical" (click)="onClickBtnNext()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-list>
</div>